In [22]:
import pandas as pd
import os
import numpy as np
from bokeh.layouts import gridplot

url_2 = "https://raw.githubusercontent.com/lukes/ISO-3166-Countries-with-Regional-Codes/master/all/all.csv"
regional_file_name = "regions.csv"

file_name = 'WFPVAM_FoodPrices_version4_Retail.csv'

# Add region and datetime cols.
df = pd.read_csv(file_name)
df['date'] = pd.to_datetime(df.date, format='%Y-%m')


country = df['adm0_name'] == "Rwanda"
print(df['adm0_name'].unique())
print(df[country]['cm_name'].unique())

array(['Armenia', 'Democratic Republic of the Congo', 'Gambia',
       'Kyrgyzstan', "Lao People's Democratic Republic", 'Peru',
       'State of Palestine'], dtype=object)

In [ ]:
# only_bread.plot(x='date', y='Diff')

def datetime(x):
    return np.array(x, dtype=np.datetime64)


from bokeh.layouts import gridplot
from bokeh.plotting import figure, show, output_file
from bokeh.models import HoverTool


# COLORS
from bokeh.palettes import Dark2_5 as palette
import itertools


colors = itertools.cycle(palette)


# Products per Country for each city.
plots = []
product_groups = df.groupby(['cm_name'])
for prod_group, prod_row in product_groups:    
    plot = figure(x_axis_type="datetime", title="{} in {}".format(prod_group, country), tools='hover')
    
    city_groups = prod_row.groupby(['mkt_name'])
    for (group, row), color in zip(city_groups, colors):
        plot.line(datetime(row['date']), row['Diff'], color=color, legend=group)
    plot.legend.click_policy = "hide"
    plot.legend.location = "top_right"
    hover = plot.select(dict(type=HoverTool))
    hover.tooltips = [
        ("Value", "$y"),
        ]
    
    plots.append(plot)

# p2 = figure(x_axis_type="datetime", title="Bread in Afghanistan")
# p2.line(datetime(df['date']), df['mp_price'], color='#A6CEE3', legend='Bread')

# show(gridplot([plots]))

# Question 1

Are there any food prices that are show negative/positive correlation, and is this correlation present throughout the years, or perhaps only in certain period? Can you perhaps detect possible ingredients of a certain other food product?

In [ ]:
# Each product in a graph for each country.

country = 'Uganda'
y_axis = 'Gradient'

df_country = df.loc[df.adm0_name == country]
plots = []
country_groups = df_country.groupby(['mkt_name'])

# allow for interactive hover tool
# Import the ColumnDataSource
from bokeh.models import ColumnDataSource



for country_group, country_row in country_groups:
    plot = figure(x_axis_type="datetime", title="Products in {}".format(country_group), tools='hover,pan,wheel_zoom,box_zoom,reset')
    product_groups = country_row.groupby(['cm_name'])
    for (group, row), color in zip(product_groups, colors):
        # create CDS to enable dynamic hovering
        row_cds = ColumnDataSource(row)
        # set source to CDS
        # OK to use Gradient for derivative?
        plot.line('date', y_axis, color=color, legend=group, source=row_cds)
    plot.legend.click_policy = "hide"
    plot.legend.location = "top_right"
    hover = plot.select(dict(type=HoverTool))
    # set preffered info for hovertool to show
    hover.tooltips = [
        # need to fix daytime again now....
        ("date", "@date"),
        ("product", "@cm_name"),
        ("Gradient", "@Gradient")
        ]
    
    plots.append(plot)

show(gridplot([plots]))

# Question 2
Do countries in similar regions, also show similar price differences? And if differences occur, can you find a potential explanation?

In [ ]:
# Each product in a graph for each country.


region_df = pd.read_csv(regional_file_name)
region_df.rename(columns={'name': 'adm0_name'}, inplace=True)
new_regions = region_df.loc[:, ['adm0_name', 'sub-region']]

df_regions = pd.merge(df, new_regions, on='adm0_name', how='left')
df = df_regions.copy()

In [ ]:
y_axis = 'Gradient'


plots = []
product_groups = df.groupby(['sub-region', 'cm_name', 'date'])[y_axis].mean().reset_index()
group = product_groups.groupby('sub-region')

for gr1, row1 in group:
    plot = figure(x_axis_type="datetime", title="Avg Products in {}".format(gr1), tools='hover,pan,wheel_zoom,box_zoom,reset')
    product_groups = row1.groupby(['cm_name'])
    for (gr2, row2), color in zip(product_groups, colors):
        row2_cds = ColumnDataSource(row2)
        plot.line('date', y_axis, color=color, legend=gr2, source=row2_cds)
    plot.legend.click_policy = "hide"
    plot.legend.location = "top_right"
    hover = plot.select(dict(type=HoverTool))
    hover.tooltips = [
        ("Product", "@cm_name"),
        ("Value", "@Gradient"),
        ]
    
    plots.append(plot)
show(gridplot([plots]))

# Question 3
Can we see any correlations between other types of data, like: currency fluctuations, weather patterns, and/or refugee movements. Can we perhaps visualize refugee movements from the food price data? Do certain weather conditions influence market prices?

In [1]:
import pandas as pd
import os
import numpy as np

# get datasets
# https://data.world/unhcr/asylum-applications/workspace/file?filename=asylum_seekers_monthly_2016_12_08_152150.csv
asylum_file = 'asylum_seekers_monthly_2016_12_08_152150.csv'
df = pd.read_csv(asylum_file, low_memory=False)

food_prices_file = 'WFPVAM_FoodPrices_version5_Retail.csv'
df_food = pd.read_csv(food_prices_file)


####### pre-processing #######################################################################

df.columns = ['destination', 'origin', 'year', 'month', 'frequency']
# remove abundant rows
df.drop(df.index[:2], inplace=True)

# map month names to corresponding number to allow for convertion to daytime
MONTH_DICT = {'January': 1, 'February': 2, 'March': 3, 'April': 4, 'May': 5, 'June': 6, 
              'July': 7, 'August': 8, 'September': 9, 'October': 10, 'November': 11,
              'December': 12}

df['month'] = df['month'].map(MONTH_DICT)

# month and year column to single daytime column 'date'
df = df.assign(date=pd.to_datetime(df[['year', 'month']].assign(day=1)))
# drop now abundant columns month and year
df = df.drop('month', axis=1)
df = df.drop('year', axis=1)

# drop rows with undefined frequency
df = df.drop(df[df.frequency == '*'].index)
# also drop rows with unknown/various origins
df = df.drop(df[df.origin == 'Various/unknown'].index)

# NB: we could also drop the destination columns, since it only includes countries
# outside of our original dataset. But maybe it will allow for some dynamic hovering later on...
# so we'll keep it for now.

# see if different names are used for identical counrtries in the two databases:
# will end up with a list with countries that don't match; manually see if they should...
countries_food = df_food['Iadm0_name'].unique()
countries_refugee = df['origin'].unique()

possible_mismatches_1 = [country for country in countries_food 
                       if country not in countries_refugee]

possible_mismatches_2 = [country for country in countries_refugee
                        if country not in countries_food]

definite_mismatches = possible_mismatches_1 + possible_mismatches_2

mismatches = definite_mismatches.sort()
# print(mismatches)

# {'country name in refugee file': 'corresponding country name in food dataset'}
MISMATCH_DICT = {'Iran (Islamic Rep. of)': 'Iran  (Islamic Republic of)', 'Dem. Rep. of the Congo': 'Democratic Republic of the Congo',
                 'Central African Rep.': 'Central African Republic'}

# fix mis-matches
for (original, new) in MISMATCH_DICT.items():
    mask = df.origin == original
    df.loc[mask, 'origin'] = new
    
# reset index
df = df.reset_index(drop=True)
df.head()
###################################### pre-processing done ###################################


# set food_prices dataset to daytime to allow merging with refugee dataset
#df_food['date'] = pd.to_datetime(df_food.date, format='%Y-%m')
# merge datasets 

#new_df = pd.merge(df_food, df,  how='left', left_on=['Iadm0_name','date'], right_on = ['origin','date'])
# drop now abundantan origin row (equals Iadm0_name)
#new_df[:50]

# drop destination column
df = df.drop('destination', axis=1)


df[:200]

                               origin frequency       date
0                         Afghanistan         1 2007-11-01
1                         Afghanistan         1 2012-09-01
2                         Afghanistan        18 2016-06-01
3                         Afghanistan        19 2016-07-01
4                             Algeria         1 2006-11-01
5                             Algeria         1 2011-07-01
6                               Egypt         1 2005-04-01
7                               Egypt         1 2006-11-01
8                               Egypt         1 2010-02-01
9                            Barbados         1 2012-11-01
10                         Bangladesh         1 2006-02-01
11                         Bangladesh         1 2011-01-01
12             Bosnia and Herzegovina         1 2010-08-01
13             Bosnia and Herzegovina         1 2013-02-01
14                              China         3 2006-03-01
15                              China         5 2006-05-01
16                              China         1 2009-05-01
17                              China         1 2011-05-01
18                              China         1 2013-01-01
19   Democratic Republic of the Congo         5 2012-05-01
20   Democratic Republic of the Congo         1 2016-02-01
21   Democratic Republic of the Congo         2 2016-04-01
22                         Czech Rep.         4 2007-03-01
23                            Eritrea         5 2014-05-01
24                            Eritrea         7 2014-07-01
25                            Eritrea         6 2014-09-01
26                            Eritrea         5 2015-06-01
27                             Gambia         2 2012-08-01
28                             Gambia         1 2013-09-01
29                        Palestinian         1 2005-06-01
..                                ...       ...        ...
170                       Afghanistan         4 2004-02-01
171                       Afghanistan         1 2004-03-01
172                       Afghanistan         3 2004-04-01
173                       Afghanistan         3 2004-05-01
174                       Afghanistan         4 2004-06-01
175                       Afghanistan         8 2004-07-01
176                       Afghanistan         1 2004-08-01
177                       Afghanistan        63 2004-09-01
178                       Afghanistan         3 2004-10-01
179                       Afghanistan         4 2004-11-01
180                       Afghanistan         2 2005-01-01
181                       Afghanistan         1 2005-02-01
182                       Afghanistan         8 2005-03-01
183                       Afghanistan         2 2005-04-01
184                       Afghanistan         3 2005-05-01
185                       Afghanistan         1 2005-07-01
186                       Afghanistan         2 2005-08-01
187                       Afghanistan         7 2005-09-01
188                       Afghanistan         1 2005-10-01
189                       Afghanistan         2 2005-11-01
190                       Afghanistan         1 2006-02-01
191                       Afghanistan         2 2006-04-01
192                       Afghanistan         1 2006-05-01
193                       Afghanistan         1 2006-07-01
194                       Afghanistan         5 2006-08-01
195                       Afghanistan         4 2006-09-01
196                       Afghanistan         2 2006-10-01
197                       Afghanistan         5 2006-11-01
198                       Afghanistan         1 2006-12-01
199                       Afghanistan         1 2007-01-01

[200 rows x 3 columns]